*{
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}

.wrapper{
    background-image: url( "../img/background.png" );
    height: 1181px;
}

.logo{
    position: absolute;
    left: 300px;
    top: 10px;
    z-index: 1;
    background-image: url( "../img/palm-tree.png" );
    background-repeat: no-repeat;
    height: 210px;
    width: 179px;
}

.logo-text{
    position: absolute;
    left: -201px;
    top: 110px;
    z-index: 2;
    background-image: url( "../img/logo.png" );
    background-repeat: no-repeat;
    height: 54px;
    width: 375px;
}

p{
    position: relative;
    left: 1122px;
    top: 139px;
    color: white;
}

#logo-asia{
    top: 65px;
    left: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
}

section li{
    position: relative;
    list-style: none;
    left: 92px;
    top: 182px;
    float: left;
    margin: 0 5px 70px;
}

.border{
    position: absolute;
    z-index: 3;
    left: -11px;
    top: -8px;
}

li:nth-child(3n+1){
    clear: both;
}

.country{
    text-align: center;
    color:white;
    font-size: 18px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
}

.contacts{
    float:right;
    position: relative;
    top: 160px;
    right: 127px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    font-size: 10px;
}

#contact{
    font-size: 12px;
}

footer{
    position: absolute;
    top: 1120px;
    left: 575px;
    font-size: 12px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
}
